@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

/* Navigation Buttons */

.hero{
    width: 100%;
    height: 100vh;
    background-size: cover;
}
/* Spacing */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
/* Underline size */
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
/* Underline color */
nav ul li a{
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
    color: #1d3853;
}
/* Underline color hover */
nav ul li a:hover{
    color: #1d3853
}
/* Underline after */
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #1d3853;
    transition: .3s;
    bottom: 0;
}
/* Underline size */
nav ul li a:hover:after{
    width: 100%;
}

/* CV button */
.btn{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #1d3853;
    /*border: 2px solid #1d3853;*/
}
.btn:hover{
    background: transparent;
    border-color: #1d3853;
    color: #FAF9F6;
}
.content{
    position: absolute;
    top: 35%;
    left: 8%;
}
.content .hometitle{
    color: #1f1f25;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    color: #1d3853;
}
/* heading "hello" colour */
.content h1{
    color: #1f1f25;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
    color: #FAF9F6;
}
/* heading name colour */
.content h1 span{
    color: #1d3853;
}
.content p{
    width: 55%;
    color: #757575;
    margin-top: 25px;
    margin-bottom: 30px;
    color: #FAF9F6;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.all-para{
  position: absolute;
  width: 400px;
  height: 400px;
  right: 240px;
}

.para-one{
  position: absolute;
  width: 360px;
  height: 150px;
  top: 30px;
  color: #1d3853;
}

.para-two{
  position: absolute;
  top: 210px;
  width: 350px;
  height: 150px;
  color: #FFFFFF;
  text-align: justify;
  text-justify: inter-word;
}
.para-three{
  position: absolute;
  top: 350px;
  width: 350px;
  height: 150px;
  color: #FFFFFF;
  text-align: justify;
  text-justify: inter-word;
}

.imageAboutPage {
  position: absolute;
  width: 50px;
  height: 3px;
  left: 350px;  

}

img {
  border-radius: 10%;
}

#left {
width: 200px;  
height: 200px;  
object-fit: fill;  
object-position: 200px 100px;
text-align: left;  
}


/* Contact Form */

#title-Tag-Line {
  font-size: 20px;
}

/* .card-item__bg{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: block;
  position: relative;
  margin: 30px auto;
  transform: translate(0px, 50px);
  z-index: 5;
} */

/* form animation starts */
.wrapper {
  background: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 5px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  position: absolute;
  border-top: 5px solid #1d3853;
/*   z-index: 1; */
  animation: bounce 1.5s infinite;
}
::-webkit-input-placeholder {
  font-size: 1.3em;
}

.title{
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 300px;
}

.pageTitle{
  font-size: 2em;
  font-weight: bold;
}

.secondaryTitle{
  color: grey;
}

.name {
  background-color: #ebebeb;
}

.name:hover {
  border-bottom: 5px solid #1d3853;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.email {
  background-color: #ebebeb;
  height: 2em;
}

.email:hover {
  border-bottom: 5px solid #1d3853;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
}

.message:hover {
  border-bottom: 5px solid #1d3853;
  height: 12em;
  width: 380px;
  transition: ease 0.5s;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
}

.submit {
  width: 200px;
  color: white;
  background-color: #1d3853;
  font-size: 20px;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
}

@keyframes bounce {
  0% {
    tranform: translate(0, 4px);
  }
  50% {
    transform: translate(0, 8px);
  }
} 

